/* Write your CSS code here */

.trend-img {
  width: 120px;
}
.nav-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-header {
    flex-direction: column;
  }
}
.header-image {
  display: flex;
  justify-content: space-between;
}
@media screen and(max-width:767px) {
  .header-image {
    flex-direction: column;
  }
}
.mobile-home-images {
  list-style-type: none;
}
.icon {
  width: 18px;
  background-color: #e6f6ff;
  padding: 10px;
}
.mobile-list {
  display: flex;
}
@media screen and (min-width: 767px) {
  .mobile-list {
    display: none;
  }
}
.nav-bar-mobile-logo-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .nav-bar-mobile-logo-container {
    display: none;
  }
}

.home-paragraph {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  margin-right: 10px;
}
.product-para {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  margin-right: 10px;
}
.cart-para {
  color: #1e293b;
  font-family: 'Roboto';
  font-size: 12px;
  margin-right: 10px;
}
.button {
  background-color: #0967d2;
  color: #ffffff;
  border-radius: 6px;
  border-width: 0px;
  width: 50px;
  height: 20px;
  padding: 4px;
  margin-top: 10px;
}
.nav-mobile-button {
  background-color: #ffffff;
  border: none;
}
.mobile-view-button {
  width: 30px;
}

.large-trend-img {
  width: 120px;
}
.nav-larger-trend-img {
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .nav-larger-trend-img {
    display: none;
  }
}
.cont {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  list-style-type: none;
}
.header-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
